@charset "utf-8";

#game
{
	box-sizing: border-box;
	padding: 16px;
}

#game td.known
{
	font-size: 12px;
	background: #88BB66;
}

#game td
{
	background: #bbff88;
	width: 28px;
	height: 28px;
	border: 1px solid #000000;
	text-align: center;
	font-weight: 900;
}

#game td.flag
{
	background: #557744;
}

#game td.known.n1::after
{
	content: "1";
	color: #0000FF;
}
#game td.known.n2::after
{
	content: "2";
	color: #002200;
}
#game td.known.n3::after
{
	content: "3";
	color: #BB0000;
}
#game td.known.n4::after
{
	content: "4";
	color: #000088;
}
#game td.known.n5::after
{
	content: "5";
	color: #550000;
}
#game td.known.n6::after
{
	content: "6";
	color: #8888FF;
}
#game td.known.n7::after
{
	content: "7";
	color: #222222;
}
#game td.known.n8::after
{
	content: "8";
	color: #000000;
}

#game td.known.mine
{
	background: #446633;
}

#game td.known.mine::after
{
	content: "X";
	color: #440088;
}

